
/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 15px;
  text-align: center;
}

p.title {
  border: 1px solid black;
  background-color: #A52A2A;
  text-align: center;
  width: 100px;
  height: 20px;
  margin-right: auto;
  margin-left: auto; 
  font-family: Helvetica;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  
   
  
}

#content {
  padding-left: 10px;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 10px;
}

div {
  position: relative;
    
  
  
  
  
  }

/* Simple Responsive Framework. */
.row {
  
  width: 100%;
  padding: 10px;
  
  
}

/********** Desktop view only **********/
@media (min-width: 992px) {
  .col-dt-1, .col-dt-2, .col-dt-3, .col-dt-4, .col-dt-5, .col-dt-6, .col-dt-7, .col-dt-8, .col-dt-9, .col-dt-10, .col-dt-11, .col-dt-12 {
    float: left;
    border: 1px solid green;
  }
  .col-dt-1 {
    width: 8.33%;
  }
  .col-dt-2 {
    width: 16.66%;
  }
  .col-dt-3 {
    width: 25%;
  }
  .col-dt-4 {
    background-color: #a6a6ad;;
    width: 30.33%;
    margin: 1.5%;
    
  }
  .col-dt-5 {
    width: 41.66%;
  }
  .col-dt-6 {
    width: 50%;
  }
  .col-dt-7 {
    width: 58.33%;
  }
  .col-dt-8 {
    width: 66.66%;
  }
  .col-dt-9 {
    width: 74.99%;
  }
  .col-dt-10 {
    width: 83.33%;
  }
  .col-dt-11 {
    width: 91.66%;
  }
  .col-dt-12 {
    width: 100%;
  }
}

/********** Tablet view only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tab-1, .col-tab-2, .col-tab-3, .col-tab-4, .col-tab-5, .col-tab-6, .col-tab-7, .col-tab-8, .col-tab-9, .col-tab-10, .col-tab-11, .col-tab-12 {
    float: left;
    border: 1px solid green;
  }
  .col-tab-1 {
    width: 8.33%;
  }
  .col-tab-2 {
    width: 16.66%;
  }
  .col-tab-3 {
    width: 25%;
  }
  .col-tab-4 {
    width: 33.33%;
  }
  .col-tab-5 {
    width: 41.66%;
  }
  .col-tab-6 {
    width: 47%;
    margin: 1.5%;
    background-color: #a6a6ad;
  }
  .col-tab-7 {
    width: 58.33%;
  }
  .col-tab-8 {
    width: 66.66%;
  }
  .col-tab-9 {
    width: 74.99%;
  }
  .col-tab-10 {
    width: 83.33%;
  }
  .col-tab-11 {
    width: 91.66%;
  }
  .col-tab-12 {
    width: 97%;
    margin: 1.5%;
    background-color: #a6a6ad;
  }
}


/********** Mobile view only **********/
@media (max-width: 767px) {
  .col-mob-1, .col-mob-2, .col-mob-3, .col-mob-4, .col-mob-5, .col-mob-6, .col-mob-7, .col-mob-8, .col-mob-9, .col-mob-10, .col-mob-11, .col-mob-12 {
    float: left;
    border: 1px solid green;
  }
  .col-mob-1 {
    width: 8.33%;
  }
  .col-mob-2 {
    width: 16.66%;
  }
  .col-mob-3 {
    width: 25%;
  }
  .col-mob-4 {
    width: 33.33%;
  }
  .col-mob-5 {
    width: 41.66%;
  }
  .col-mob-6 {
    width: 50%;
  }
  .col-mob-7 {
    width: 58.33%;
  }
  .col-mob-8 {
    width: 66.66%;
  }
  .col-mob-9 {
    width: 74.99%;
  }
  .col-mob-10 {
    width: 83.33%;
  }
  .col-mob-11 {
    width: 91.66%;
  }
  .col-mob-12 {
    width: 97%;
    margin: 1.5%;
    background-color: #a6a6ad;
  }
}

